<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin | TechBlog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Unna:400,700&display=swap" rel="stylesheet">

  <!-- Css Styles -->
  <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="static/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="static/css/elegant-icons.css" type="text/css">
  <link rel="stylesheet" href="static/css/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="static/css/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="static/css/style.css" type="text/css">
</head>
<body>
<div class="container">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <h1><span class="badge badge-secondary">Manage Collections</span></h1>
    </li>
  </ul>
  <hr>
  <div class="list-group">
    <a href="{{url_for('users')}}" class="list-group-item list-group-item-action">Users</a>
    <a href="{{url_for('blogs')}}" class="list-group-item list-group-item-action list-group-item-success">Blog Article</a>
    <a href="{{url_for('mobile_blogs')}}" class="list-group-item list-group-item-action list-group-item-mobile">Mobile Blogs Article</a>
    <a href="{{url_for('desktop_blogs')}}" class="list-group-item list-group-item-action list-group-item-info">Desktop Blogs Article</a>
    <a href="{{url_for('electronics_blog')}}" class="list-group-item list-group-item-action list-group-item-electronics">Electronics Blog</a>
    <a href="{{url_for('admin-comments')}}" class="list-group-item list-group-item-action list-group-item-dark">Blog Comments</a>
    <a href="{{url_for('admin-email')}}" class="list-group-item list-group-item-action list-group-item-light">Emails</a>
  </div>
</div>

<!-- Js Plugins -->
<script src="static/js/jquery-3.3.1.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/jquery.slicknav.js"></script>
<script src="static/js/owl.carousel.min.js"></script>
<script src="static/js/main.js"></script>
</body>
</html>