{% extends 'base.html' %}
{% block title %} Contact | TechBlog {% endblock title %}
{% block body %}

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="contact__text">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__text">
                            <h2>Contact</h2>
                            <div class="breadcrumb__option">
                                <a href="{{ url_for('index') }}">Home</a>
                                <span>Contact</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="contact__map">
                            <iframe

                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2880.9786434636903!2d-79.33807718423316!3d43.77330215267351!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d2f6051664bf%3A0x8a14ccd77d82289a!2s265%20Yorkland%20Blvd%20%23400%2C%20North%20York%2C%20ON%20M2J%201S5!5e0!3m2!1sen!2sca!4v1636824299502!5m2!1sen!2sca"
                                height="350" style="border:0;" allowfullscreen="" aria-hidden="false"
                                tabindex="0"></iframe>
                        </div>
                        <div class="contact__widget">
                            <ul>
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <span>Group 4, 265 Yorkland Blvd, ON M2J1S5</span>
                                </li>
                                <li>
                                    <i class="fa fa-mobile"></i>
                                    <span>Phone: 909-080-0707</span>
                                </li>
                                <li>
                                    <i class="fa fa-envelope-o"></i>
                                    <span>Email: info@technoblog.com</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="contact__form">
                            <div class="contact__form__title">
                                {% if data['message'] %}
                                    <h2 style="color: darkgreen;">{{ data['message'] }}</h2>
                                {% else %}
                                    <h2>GET IN TOUCH</h2>
                                    <p>Drop us a line. We're here to help</p>
                                {% endif %}
                            </div>

                            {% if data['message'] %}
                            <h2 style="color: green;">Submitted!!!</h2>
                            {% else %}
                            <form id="contact_form" method="post" action="{{url_for('contact')}}">
                                <input type="text" placeholder="Name" name="name">
                                <input type="text" placeholder="Email" name="email">
                                <textarea placeholder="Message" name="message"></textarea>
                                <button type="submit" class="site-btn" id="contact_submit-button">Submit</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
{% endblock body %}

{% block script %}
<script src="static/js/contact.js"></script>
{% endblock script %}