{% extends 'base.html' %}

{% block title %} Tech-info | TechBlog {% endblock title %}

{% block body %}
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 p-0">
                            <div class="hero__inside__item hero__inside__item--wide set-bg"
                                data-setbg="{{url_for('static', filename='img/blog/' + data['featured_blog'][0].photo_url)}}">
                                <div class="hero__inside__item__text">
                                    <div class="hero__inside__item--meta">
                                        <span>{{data['featured_blog'][0].day}}</span>
                                        <p>{{data['featured_blog'][0].month}}</p>
                                    </div>
                                    <div class="hero__inside__item--text">
                                        <ul class="label">
                                            <li>{{data['featured_blog'][0].title}}</li>
                                        </ul>
                                        <h4>{{data['featured_blog'][0].short_description}}</h4>
                                        <ul class="widget">
                                            <li>by <span>{{data['featured_blog'][0].created_by}}</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6  p-0">
                            {% for item in data['top_blog'][:2] %}
                                <div class="hero__inside__item hero__inside__item--small set-bg"
                                     data-setbg="{{url_for('static', filename='img/blog/' + item.photo_url)}}">
                                    <div class="hero__inside__item__text">
                                        <div class="hero__inside__item--meta">
                                            <span>{{item.day}}</span>
                                            <p>{{item.month}}</p>
                                        </div>
                                        <div class="hero__inside__item--text">
                                            <ul class="label">
                                                <li>{{item.title}}</li>
                                            </ul>
                                            <h5>{{item.short_description}}</h5>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-lg-3 col-md-6  p-0">
                            <div class="hero__inside__item set-bg"
                                 data-setbg="{{url_for('static', filename='img/blog/' + data['regular_blog'][0].photo_url)}}">
                                <div class="hero__inside__item__text">
                                    <div class="hero__inside__item--meta">
                                        <span>{{data['regular_blog'][0].day}}</span>
                                        <p>{{data['regular_blog'][0].month}}</p>
                                    </div>
                                    <div class="hero__inside__item--text">
                                        <ul class="label">
                                            <li>{{data['regular_blog'][0].title}}</li>
                                        </ul>
                                        <h4>{{data['regular_blog'][0].short_description}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 p-0">
                            <div class="hero__inside__item hero__inside__item--wide set-bg"
                                 data-setbg="{{url_for('static', filename='img/blog/' + data['featured_blog'][1].photo_url, )}}">
                                <div class="hero__inside__item__text">
                                    <div class="hero__inside__item--meta">
                                        <span>{{data['featured_blog'][1].day}}</span>
                                        <p>{{data['featured_blog'][1].month}}</p>
                                    </div>
                                    <div class="hero__inside__item--text">
                                        <ul class="label">
                                            <li>{{data['featured_blog'][1].title}}</li>
                                        </ul>
                                        <h4>{{data['featured_blog'][1].short_description}}</h4>
                                        <ul class="widget">
                                            <li>by <span>{{data['featured_blog'][1].created_by}}</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 p-0">
                            {% for item in data['top_blog'][2:] %}
                            <div class="hero__inside__item hero__inside__item--small set-bg"
                                 data-setbg="{{url_for('static', filename='img/blog/' + item.photo_url)}}">
                                <div class="hero__inside__item__text">
                                    <div class="hero__inside__item--meta">
                                        <span>{{item.day}}</span>
                                        <p>{{item.month}}</p>
                                    </div>
                                    <div class="hero__inside__item--text">
                                        <ul class="label">
                                            <li>{{item.title}}</li>
                                        </ul>
                                        <h5>{{item.short_description}}</h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col-lg-3 col-md-6 p-0">
                            <div class="hero__inside__item set-bg"
                                 data-setbg="{{url_for('static', filename='img/blog/' + data['regular_blog'][1].photo_url)}}">
                                <div class="hero__inside__item__text">
                                    <div class="hero__inside__item--meta">
                                        <span>{{data['regular_blog'][1].day}}</span>
                                        <p>{{data['regular_blog'][1].month}}</p>
                                    </div>
                                    <div class="hero__inside__item--text">
                                        <ul class="label">
                                            <li>{{data['regular_blog'][1].title}}</li>
                                        </ul>
                                        <h4>{{data['regular_blog'][1].short_description}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <section class="categories spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="categories__item set-bg"
                         data-setbg="static/img/about/about-3.png">
                        <div class="categories__hover__text">
                            <h5>All</h5>
                            <p>{{data['blog_count']}} articles</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="categories__item set-bg"
                         data-setbg="static/img/about/about-1.png">
                        <div class="categories__hover__text">
                            <h5>Mobile</h5>
                            <p>{{data['mobile_blog_count']}} articles</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="categories__item set-bg"
                         data-setbg="static/img/about/about-2.png">
                        <div class="categories__hover__text">
                            <h5>Desktop</h5>
                            <p>{{data['desktop_blog_count']}} articles</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="categories__item set-bg"
                         data-setbg="static/img/about/about-1.png">
                        <div class="categories__hover__text">
                            <h5>Electronics</h5>
                            <p>{{data['electronics_blog_count']}} articles</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="categories__post">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="categories__post__item categories__post__item--large">
                            <div class="categories__post__item__pic set-bg"
                                 data-setbg="{{url_for('static', filename='img/blog/' + data['featured_blog'][1].photo_url)}}">
                                <div class="post__meta">
                                    <h4>{{data['featured_blog'][1].day}}</h4>
                                    <span>{{data['featured_blog'][1].month}}</span>
                                </div>
                            </div>
                            <div class="categories__post__item__text">
                                <ul class="post__label--large">
                                    <li>{{data['featured_blog'][1].title}}</li>
                                </ul>
                                <h3><a href="{{ url_for('blog_detail', blog_id=data['featured_blog'][1].blog_id) }}">{{data['featured_blog'][1].short_description}}</a></h3>
                                <ul class="post__widget">
                                    <li>by <span>{{data['featured_blog'][1].created_by}}</span></li>
                                </ul>
                                <p>{{data['featured_blog'][1].long_description | truncate(250)}}</p>
                                <a href="{{ url_for('blog_detail', blog_id=data['featured_blog'][1].blog_id) }}" class="primary-btn">Read more</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                {% for item in data['blogs'][:6] %}
                                <div class="categories__post__item">
                                    <div class="categories__post__item__pic small__item set-bg"
                                         data-setbg="{{url_for('static', filename='img/blog/' + item.photo_url)}}">
                                        <div class="post__meta">
                                            <span>{{item.day}}</span>
                                            <p>{{item.month}}</p>
                                        </div>
                                    </div>
                                    <div class="categories__post__item__text">
                                        <span class="post__label">{{item.blog_tech}}</span>
                                        <h3><a href="{{ url_for('blog_detail', blog_id=item.blog_id) }}">{{item.title}}</a></h3>
                                        <ul class="post__widget">
                                            <li>by <span>{{item.created_by}}</span></li>
                                        </ul>
                                        <p>{{item.short_description}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                {% for item in data['blogs'][6:] %}
                                    <div class="categories__post__item">
                                    <div class="categories__post__item__pic smaller__large set-bg"
                                         data-setbg="{{url_for('static', filename='img/blog/' + item.photo_url)}}">
                                        <div class="post__meta">
                                            <span>{{item.day}}</span>
                                            <p>{{item.month}}</p>
                                        </div>
                                    </div>
                                    <div class="categories__post__item__text">
                                        <span class="post__label">{{item.blog_tech}}</span>
                                        <h3><a href="{{ url_for('blog_detail', blog_id=item.blog_id) }}">{{item.title}}</a></h3>
                                        </h3>
                                        <ul class="post__widget">
                                            <li>by <span>{{item.created_by}}</span></li>
                                        </ul>
                                        <p>{{item.short_description | truncate(150)}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="sidebar__item">
                            <div class="sidebar__about__item">
                                <div class="sidebar__item__title">
                                    <h6>About Us</h6>
                                </div>
                                <img src="static/img/about/about-3.png" alt="">
                                <h6>Hi every one! We are <span>Tech Lovers.</span></h6>
                                <p>We will dive into the world of Technologies. We will tell you the new and interesting things happening around
                                the world.</p>
                                <a href="{{url_for('about')}}" class="primary-btn">Read more</a>
                            </div>
                            <div class="sidebar__feature__item">
                                <div class="sidebar__item__title">
                                    <h6>Feature Posts</h6>
                                </div>
                                <div class="sidebar__feature__item__large set-bg"
                                     data-setbg="{{url_for('static', filename='img/blog/' + data['featured_blog'][1].photo_url)}}">
                                    <div class="sidebar__feature__item__large--text">
                                        <span>{{data['featured_blog'][1].blog_tech}}</span>
                                        <h5><a href="{{ url_for('blog_detail', blog_id=data['featured_blog'][1].blog_id) }}">{{data['featured_blog'][1].title}}</a></h5>
                                    </div>
                                </div>
                                <div class="sidebar__feature__item__list">
                                    {% for item in data['featured_blog'][2:] %}
                                    <div class="sidebar__feature__item__list__single">
                                        <div class="post__meta">
                                            <h4>{{item.day}}</h4>
                                            <span>{{item.month}}</span>
                                        </div>
                                        <div class="post__text">
                                            <span>{{item.blog_tech}}</span>
                                            <h5><a href="{{ url_for('blog_detail', blog_id=item.blog_id) }}">{{item.title}}</a></h5>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="sidebar__item__banner">
                                <img src="static/img/about/about-2.png" alt="">
                            </div>
                            <div class="sidebar__item__categories">
                                <div class="sidebar__item__title">
                                    <h6>Categories</h6>
                                </div>
                                <ul>
                                    <li><a href="#">All <span>{{data['blog_count']}}</span></a></li>
                                    <li><a href="#">Mobile <span>{{data['mobile_blog_count']}}</span></a></li>
                                    <li><a href="#">Desktop <span>{{data['desktop_blog_count']}}</span></a></li>
                                    <li><a href="#">Electronics <span>{{data['electronics_blog_count']}}</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->
{% endblock body %}