<!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="{{ url_for('index') }}"><img src="static/img/humberger/techno-logo.png" alt=""></a>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('index', blog_tech='mobile') }}">Mobile</a></li>
                <li><a href="{{ url_for('index', blog_tech='desktop') }}">Desktop</a></li>
                <li><a href="{{ url_for('index', blog_tech='electronics') }}">Electronics</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="humberger__menu__about">
            <div class="humberger__menu__title sidebar__item__title">
                <h6>About us</h6>
            </div>
            <img src="{{ url_for('static', filename='img/about/about-3.png') }}" alt="">
            <h6>Hi every one! We are Techno bloggies.</h6>
            <p>This website is the output of our efforts required to present you how the technology advances in the future<br /> We are a group of enthusiasts fuelled by hard work & passion.
                You can reach out to us with your enquiries & we'll get back to you at the earliest. </p>
            <div class="humberger__menu__about__social sidebar__item__follow__links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-envelope-o"></i></a>
            </div>
        </div>
    </div>
    <!-- Humberger End -->